@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #DCDDEA;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

img {
    width: 200px;
}

/* ------------------------------------------------------------------------ */
.admin-dashboard {
    padding: 1px;
}

.adash-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.478);
    padding: 10px 1px;
    position: relative;
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header i {
    font-size: 25px;
    font-weight: 600;
    padding: 0 10px;
}
.left-header img {
    width: 190px;
}

.center-header input {
    background-color: #ffffff;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    width: 600px;
    /* position: relative;
    right: 100px */
}

/* ---------------------------------------------------------------------------- */

.adash-content {
    display: flex;
    flex-direction: row;

}


.adash-section-left, .adash-section-right {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.adash-section-left {
    padding-right: 80px;
    width: 30%;
}

.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
}


.new-post {
    width: 150px;
    padding: 3px;
    margin: 20px 25px 10px;
    border-radius: 50px;
    color: #FF5722;
    background-color: #ffffff;
    text-transform: uppercase;
}

.section-action {
    border-bottom: 1px solid rgba(0, 0, 0, 0.478);
    border-top: 1px solid rgba(0, 0, 0, 0.478);
    padding: 20px ;
    width: 200px;
}

.action-elm {
    padding: 6px;
    width: 200px;
}

.action-elm:first-child {
    color: #FF5722;
}

.adash-nav {
    padding: 20px 10px;
    color: #004678;
}

.adash-nav span {
    padding: 10px 0;
}

/* ---------------------------------------------- */
.adash-section-right {
    width: 70%;
}
.post {
    width: 95%;
    padding: 10px 20px;
    margin: 10px 20px 10px 0;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #ffffff;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 20px;  

}
.post-info img {
    width: 100px;
}

.post-info h1 {
    padding: 10px 0;
}

.post-description span {
    color: #FF5722;
}
.post-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.left-reaction-btn {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #808080;
    font-size: 15px;
}

.post-icon {
    width: 18px;
}

.post-i{
  
    width: 40px;
}
.elements i{
    font-size: 40px;
}
.post-{
    width: 50px;
}
.elent {
    font-size: 50px;
}





.new-post:hover{
    background-color: #e4c6bc;
    width: 160px;
    padding: 1px;

}

                                    /* 
                                    for hover */

                                    .elements:hover{
                                        color: rgb(255, 0, 0);
                                        cursor:grab;
                                      

                                    }
                                    .left-header i:hover{
                                        color: blue ;
                                        font-size: 30px;
                                    }

.center-header{
    margin-right: 500px;
    border: 2px solid rgb(230, 225, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    justify-content: flex-start;
    
}
.center-header input:focus{
    outline: none;
    /* border: 10px solid green; */
}