/* Font Importing */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}


.hero-header {
    /* border: 4px solid green;} */
}


/* for vavigation */


.hero-header {

    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.hero-header ul {
    display: flex;
    flex-direction: row;
}

.hero-header li {
    /* border: 4px solid rgb(0, 23, 128); */
    padding: 2px 10px;
    font-weight: 500;
    font-size: 20px;
}

.hero-header a {
    color: #000000;
    text-align: center;
}

/* for login page */
.container {
    width: 100%;
    height: 800px;
    background-image: url(/Assets/background/bgimag.webp);
    display: flex;
    flex-direction: column;

    /* border: 4px solid rgb(0, 23, 128); */
}

.donthave-account {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70%;
    right: 20px;
    padding: 20px;
    gap: 4px;

}

.donthave-account p {
    font-weight: 600;
    color: #ffffff;
}

.donthave-account button {
    font-size: 32px;
    line-height: 48px;
    color: #D70000;
    font-weight: 600;
    width: 168px;
    height: 55px;
    background-color: #000000;
    border-radius: 50px;
    border: none;
}

/* for login form inputs */
.login_form {
    /* border: 5px solid yellow; */
    
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 623px;
    margin: 0px auto 30px;
    padding: 50px
}

.choose {
    /* border: 5px solid rgb(21, 255, 0); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.choose p {
    color: #04097B;
}

.placeholder {
    /* border: 5px solid rgb(255, 0, 191); */
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    margin-top: 20px;

}

.placeholder input {
    height: 30px;
    width: 300px;
    background: #D9D9D9;
    padding-left: 20px;
    border: 1px solid black;
}

.placeholder button {
    text-align: center;
    /* background-color: #04097B; */
    border-radius: 50px;
    color: #D74545;
    font-weight: 600;
    width: 140px;
    height: 40px;
    align-self: flex-end;
    border: none;
    font-size: 25px;
}

button:hover {
    font-weight: 900;
    font-size: 30px;
}

/* -----------------------------------------------for validation */










.inName {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;

}

.errorMsg {
    font-size: 10px;
    color: #d61616;
    align-self: flex-end;
}

.xxxxxxxxxx {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.forget-ps {
    color: #d61616;
    cursor: grabbing;
}

.new {
    align-self: flex-end;
}

.placeholder span i {
    color: seagreen;
    font-size: 15px;

}










/* fot footer */

footer {
    background-image: url("/Assets/Rectangle\ 81.png");
    height: auto;

}

p,
h2,
span,
a {
    color: white;
}

.getInTouch-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 269.3px;
    cursor: grab;

}

.fa-regular,
.fa-solid {
    color: #d70000;
    padding-right: 9px;
}

.address-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    margin: 15px auto;
}

.address-contact span {
    text-align: center;
    padding: 5px 10px;
}




.connecting {
    display: flex;
    justify-content: space-around;
    margin-bottom: -10px;
}

.connect-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: auto;
}

.fa-brands {
    color: white;
    padding-right: 5px;
}

.connect-form {
    /* border: 4px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    display: flex;
    gap: 10px;
}


input {
    display: block;
    border: none;
    padding: 5px 5px 0;
}

.form-btn {
    background-color: red;
    color: white;
    width: 130px;
    height: 30px;
    margin-left: auto;
}

.form-textarea {
    min-height: 70px;
}

/* for back to top btn */
.backtop-btn {
    position: relative;
    text-align: right;
    /* border: 5px solid green; */
}

.backtop-btn img {
    width: auto;
    height: auto;
}

.copyright-footer {
    width: 100%;
    text-align: center;
    background-color: #d9d9d9;
    font-size: 15px;
}

.copyright-footer p {
    color: #000000;
}