@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #DCDDEA;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

img {
    width: 200px;
}

/* ------------------------------------------------------------------------ */
.admin-dashboard {
    padding: 1px;
}

.adash-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.478);
    padding: 10px 1px;
    position: fixed;
    background-color: #DCDDEA;
    top:0
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header i {
    font-size: 25px;
    font-weight: 600;
    padding: 0 10px;
}
.left-header i:hover{
    color: rgb(0, 140, 255);
    font-size: 30px;

}
/* ---------------------------------------------------------------------------- */

.inputs{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;
    padding-right:50px ;
}
.titles{
    border-bottom: 1px solid #FF5722;
    padding: 7px;
}
.titles input{
    border: none;
    background: none;
    width: auto;
}
.add-image img{
    width: 150px;
}
.icons-save-and-publish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.icons {
    display: flex;
    gap: 25px;
    border: 2px solid rgb(49, 48, 48);
    padding: 5px;
}
.icons img, .save-andpub img{
    width: 15px;
    height: 13px;
}
.icons img:hover{
    width: 20px;
    height: 18px;
    background: #ffffff;
    border: 1px solid red;
    border-radius: 10%;
   
}
.save-andpub{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.save-andpub button{
    background-color: #FF5722;
    color: rgb(255, 255, 255);
    padding:6px ;
    border: none;
    font-weight: 700;
   
}
.save-andpub button:hover{
border: 8px solid red;
border-radius: 50%;
}
.poste{
    border-radius: 50px;
    display: inline-flex;
    gap: 3px;
}
textarea{
    min-height: 80vh;
   padding: 5px;
   font-size: large;
   border: none;
}
textarea:focus{
    outline: none;
}
